# One Hot Recomendation

one-hot es una técnica utilizada en sistemas de recomendación y aprendizaje automático para representar datos categóricos. En lugar de asignar un número entero a cada categoría, se utiliza un vector binario en el que solo un bit es 1 (indicando la presencia de la categoría) y todos los demás bits son 0. Esto ayuda a evitar que el modelo interprete relaciones ordinales entre categorías que no existen.

### PARA FINALIZAR ESTE TEMA Y COMPLETAR LOS REQUERIMIENTOS FUNCIONALES DEL MISMO, SE SOLICITA SE LE DESARROLLEN LAS SIGUIENTES MEJORAS AL SISTEMA QUE YA SE HA AVANZADO EN PYTHON.

1. HACER QUE LA ENTRADA DE USUARIO SEA DE FORMA DINAMICA, ES DECIR, QUE NO SEA CONSTANTE, QUE SEA VARIABLE Y DE LA FACILIDAD HACER PRUEBAS SOLO CON EL ID DE USUARIO DE RATINGS.CSV. ENTRADA DEL PERFIL DEL USUARIO.

2. QUE LA RECOMENDACIÓN FINAL MUESTRE EL POSTER(IMAGEN) DE LA PELICULA, PUEDE USAR LA MEJOR ESTRATEGIA QUE VEA FACTIBLE Y SE PUEDE CARGA SOLO PARCIALMENTE ALGUNAS PELICULAS EN LA FUENTE DE DATOS PARA SU PRUEBA Y DEMOSTRACION. PARA ESTO, SE COMPARTE LINK DE DONDE SE PUEDEN VER ESTOS POSTERS Y PUEDA UTILIZARLOS SI ASI LO DECIDE. “MovieGenre.csv”

In [673]:
import pandas as pd # type: ignore
from IPython.display import HTML

## aqui selecciona que usuario va a darle la recomendacion mediante su id

In [674]:



# Función para convertir links en imágenes HTML
def make_clickable(val):
    return f'<img src="{val}" width="150"/>'

# Muestra el DataFrame como HTML necesita estar en columna Poster la URL de la imagen
def mostrar_imagen(dataframe):
    dataframe['Poster'] = dataframe['Poster'].apply(make_clickable)
    return HTML(dataframe.to_html(escape=False))

In [675]:
#leer datos
peliculas = pd.read_csv('../2 Extras/One hot recomend/movies_data_fix.csv')
rating=pd.read_csv('../2 Extras/One hot recomend/ratings_data_fix.csv')
imagenes = pd.read_csv('../2 Extras/One hot recomend/MovieGenre.csv', encoding='latin1')
mostrar_imagen(imagenes.head(1))

#exixten links que no son validos y no se pueden mostrar

C:\Users\josem\AppData\Local\Temp\ipykernel_8760\105751786.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Poster'] = dataframe['Poster'].apply(make_clickable)

In [676]:
#eliminar en anio del campo tilte   
def eliminar_anio(dataframe):
    dataframe['year'] = dataframe.title.str.extract('(\\(\\d\\d\\d\\d\\))',expand=False)
    #print("\nExtraer en anio con parentecis\n",peliculas['year'].head())
    dataframe['year']= dataframe.year.str.extract('(\\d\\d\\d\\d)',expand=False)
    #print("\nExtraer en anio sin parentesis\n",peliculas['year'].head())
    dataframe['title'] = dataframe.title.str.replace(r"\s+\(.*\)","",regex=True)
    #print("\nEliminar el anio de las peliculas\n",peliculas.head())
    dataframe['title'] = dataframe['title'].apply(lambda x: x.strip())

imagenes=imagenes.rename(columns={'Title':'title'})

eliminar_anio(peliculas)
eliminar_anio(imagenes)


print(peliculas.head())
mostrar_imagen(imagenes.head(1))

   movie_id                        title                        genres  year
0         1                    Toy Story   Adventure|Children's|Comedy  1995
1         2                      Jumanji  Adventure|Children's|Fantasy  1995
2         3             Grumpier Old Men                Comedy|Romance  1995
3         4            Waiting to Exhale                  Comedy|Drama  1995
4         5  Father of the Bride Part II                        Comedy  1995

C:\Users\josem\AppData\Local\Temp\ipykernel_8760\105751786.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Poster'] = dataframe['Poster'].apply(make_clickable)

In [677]:
#eliminamos columnas de imagen que no necesitamos
imagenes=imagenes.drop(columns=['imdbId','Imdb Link','IMDB Score','Genre','year'])
mostrar_imagen(imagenes.head(1))

C:\Users\josem\AppData\Local\Temp\ipykernel_8760\105751786.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Poster'] = dataframe['Poster'].apply(make_clickable)

In [678]:
#separar los generos por el caracter |
peliculas['genres'] = peliculas.genres.str.split('|')

peliculas_co=peliculas.copy()
peliculas_co.head()

,movie_id,title,genres,year
0,1,Toy Story,"[Adventure, Children's, Comedy]",1995
1,2,Jumanji,"[Adventure, Children's, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [679]:
for index, row in peliculas.iterrows():
    for genere in row['genres']:
        peliculas_co.at[index,genere]=1

peliculas_co=peliculas_co.fillna(0)
print("peliculas codificadas: ",peliculas_co.head())

peliculas codificadas:     movie_id                        title                            genres  \
0         1                    Toy Story   [Adventure, Children's, Comedy]
1         2                      Jumanji  [Adventure, Children's, Fantasy]
2         3             Grumpier Old Men                 [Comedy, Romance]
3         4            Waiting to Exhale                   [Comedy, Drama]
4         5  Father of the Bride Part II                          [Comedy]

   year  Adventure  Children's  Comedy  Fantasy  Romance  Drama  ...  \
0  1995        1.0         1.0     1.0      0.0      0.0    0.0  ...
1  1995        1.0         1.0     0.0      1.0      0.0    0.0  ...
2  1995        0.0         0.0     1.0      0.0      1.0    0.0  ...
3  1995        0.0         0.0     1.0      0.0      0.0    1.0  ...
4  1995        0.0         0.0     1.0      0.0      0.0    0.0  ...

   Thriller  Horror  Animation  Sci-Fi  Documentary  War  Musical  Mystery  \
0       0.0     0.0        0.0     0.0          0.0  0.0      0.0      0.0
1       0.0     0.0        0.0     0.0          0.0  0.0      0.0      0.0
2       0.0     0.0        0.0     0.0          0.0  0.0      0.0      0.0
3       0.0     0.0        0.0     0.0          0.0  0.0      0.0      0.0
4       0.0     0.0        0.0     0.0          0.0  0.0      0.0      0.0

   Film-Noir  Western
0        0.0      0.0
1        0.0      0.0
2        0.0      0.0
3        0.0      0.0
4        0.0      0.0

[5 rows x 22 columns]

In [680]:
peliculas_co.head()

,movie_id,title,genres,year,Adventure,Children's,Comedy,Fantasy,Romance,Drama,...,Thriller,Horror,Animation,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1,Toy Story,"[Adventure, Children's, Comedy]",1995,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children's, Fantasy]",1995,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama]",1995,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [681]:
#mostrar el rating de las peliculas
print("rating:", rating.head())
#eliminar la columna timestamp
rating=rating.drop('timestamp',axis=1)
print("\nrating new estructur:\n", rating.head())

rating:    user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

rating new estructur:
    user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [682]:
#unir las tablas de peliculas y rating por el campo movie_id
peliculas_rating=pd.merge(peliculas_co,rating,on='movie_id')
peliculas_rating=peliculas_rating.drop(columns=['genres','year','Adventure','Animation',"Children's",'Comedy','Fantasy','Romance','Drama','Action','Crime','Thriller','Horror','Mystery','Sci-Fi','War','Musical','Documentary','Western','Film-Noir', 'movie_id'])
print("\nTabla de peliculas con rating:\n",peliculas_rating.head())

#seleccionamos el usuario 
usuario_en=peliculas_rating[peliculas_rating['user_id']==usuario_id]
usuario_en=usuario_en.drop(columns=['user_id'])
print("\nTabla de peliculas con rating del usuario 1:\n",usuario_en.head())

Tabla de peliculas con rating:
        title  user_id  rating
0  Toy Story        1       5
1  Toy Story        6       4
2  Toy Story        8       4
3  Toy Story        9       5
4  Toy Story       10       5

Tabla de peliculas con rating del usuario 1:
                                      title  rating
0                                Toy Story       5
22893                           Pocahontas       5
41541                            Apollo 13       5
67447   Star Wars: Episode IV - A New Hope       4
141660                    Schindler's List       5

In [683]:
# #vamos a crear nuestro algoritmo de sugerencua, acorde el perfil de usuario
# usuario_en=[
#     {'title':'Toy Story','rating':3.5},
#     {'title':'Jumanji','rating':2},

#     ]

#CON EN ANTERIOR USUARIO YA NO ES NECESARIO CAMBIAR ALGO DE AQUI EN ADELANTE, MAS QUE EL ULTIMPO PARA QUE SE MUESTRE LAS IMAGENES

#lo convertimos en un dataframe
entrada_peli=pd.DataFrame(usuario_en)
print("peliculas usuario:\n", entrada_peli)

peliculas usuario:
                                                   title  rating
0                                             Toy Story       5
22893                                        Pocahontas       5
41541                                         Apollo 13       5
67447                Star Wars: Episode IV - A New Hope       4
141660                                 Schindler's List       5
144754                                    Secret Garden       4
158459                                          Aladdin       4
167921                  Snow White and the Seven Dwarfs       4
168684                             Beauty and the Beast       5
172011                                            Fargo       4
179963                        James and the Giant Peach       3
185725  Wallace & Gromit: The Best of Aardman Animation       3
190432                                      Close Shave       3
196749                          Hunchback of Notre Dame       4
222307                                     My Fair Lady       3
223999                                     Wizard of Oz       4
233289                                             Gigi       4
246891                                       Cinderella       5
248460                                     Mary Poppins       5
249471                                            Dumbo       5
251662                                   Sound of Music       5
273611                       E.T. the Extra-Terrestrial       4
294283                  One Flew Over the Cuckoo's Nest       5
299210                                   Princess Bride       3
310576                            To Kill a Mockingbird       4
341051                               Dead Poets Society       4
359307                               Back to the Future       5
370615                                          Ben-Hur       5
437274                                          Ponette       4
439731                                         Hercules       4
482132                                          Titanic       4
500398                               Last Days of Disco       5
508478                                            Mulan       4
527560                                         Rain Man       5
528890                               Driving Miss Daisy       4
550463                                            Bambi       4
554929                              Saving Private Ryan       5
619091                                             Antz       4
625325                                    Pleasantville       3
632053                                   Meet Joe Black       3
635661                                       Bug's Life       5
652378                           Miracle on 34th Street       4
719607                                           Tarzan       3
721191                                     Run Lola Run       4
745569                                      Sixth Sense       4
752653                                        Airplane!       4
756381                                              Big       4
758896                                  Christmas Story       5
783830                         Ferris Bueller's Day Off       4
833231                                       Awakenings       5
836694                                      Toy Story 2       4
853800                                             Girl       4
893329                                  Erin Brockovich       4

In [684]:
#agregamos el movie_id a las peliculas del usuario
Id = peliculas[peliculas['title'].isin(entrada_peli['title'].tolist())]
entrada_peli=pd.merge(Id, entrada_peli,how='inner',on=None, validate='many_to_many')
print("peliculas usuario con id:\n", entrada_peli)

peliculas usuario con id:
     movie_id                                            title  \
0          1                                        Toy Story
1         48                                       Pocahontas
2        150                                        Apollo 13
3        260               Star Wars: Episode IV - A New Hope
4        277                           Miracle on 34th Street
5        527                                 Schindler's List
6        531                                    Secret Garden
7        588                                          Aladdin
8        594                  Snow White and the Seven Dwarfs
9        595                             Beauty and the Beast
10       608                                            Fargo
11       661                        James and the Giant Peach
12       720  Wallace & Gromit: The Best of Aardman Animation
13       745                                      Close Shave
14       783                          Hunchback of Notre Dame
15       914                                     My Fair Lady
16       919                                     Wizard of Oz
17       938                                             Gigi
18      1022                                       Cinderella
19      1028                                     Mary Poppins
20      1029                                            Dumbo
21      1035                                   Sound of Music
22      1097                       E.T. the Extra-Terrestrial
23      1193                  One Flew Over the Cuckoo's Nest
24      1197                                   Princess Bride
25      1207                            To Kill a Mockingbird
26      1246                               Dead Poets Society
27      1270                               Back to the Future
28      1287                                          Ben-Hur
29      1545                                          Ponette
30      1566                                         Hercules
31      1721                                          Titanic
32      1836                               Last Days of Disco
33      1907                                            Mulan
34      1961                                         Rain Man
35      1962                               Driving Miss Daisy
36      2018                                            Bambi
37      2028                              Saving Private Ryan
38      2294                                             Antz
39      2321                                    Pleasantville
40      2340                                   Meet Joe Black
41      2355                                       Bug's Life
42      2398                           Miracle on 34th Street
43      2687                                           Tarzan
44      2692                                     Run Lola Run
45      2762                                      Sixth Sense
46      2791                                        Airplane!
47      2797                                              Big
48      2804                                  Christmas Story
49      2918                         Ferris Bueller's Day Off
50      3105                                       Awakenings
51      3114                                      Toy Story 2
52      3186                                             Girl
53      3404                                          Titanic
54      3408                                  Erin Brockovich

                                               genres  year  rating
0                     [Adventure, Children's, Comedy]  1995       5
1           [Animation, Children's, Musical, Romance]  1995       5
2                                             [Drama]  1995       5
3                [Action, Adventure, Fantasy, Sci-Fi]  1977       4
4                                             [Drama]  1994       4
5                                        [Drama, War]  1993       5
6                                 [Children's, Drama]   NaN       4
7            [Animation, Children's, Comedy, Musical]  1992       4
8                    [Animation, Children's, Musical]  1937       4
9                    [Animation, Children's, Musical]  1991       5
10                           [Crime, Drama, Thriller]  1996       4
11                   [Animation, Children's, Musical]  1996       3
12                                        [Animation]  1996       3
13                      [Animation, Comedy, Thriller]   NaN       3
14                   [Animation, Children's, Musical]   NaN       4
15                                 [Musical, Romance]  1964       3
16            [Adventure, Children's, Drama, Musical]   NaN       4
17                                          [Musical]  1958       4
18                   [Animation, Children's, Musical]  1950       5
19                      [Children's, Comedy, Musical]  1964       5
20                   [Animation, Children's, Musical]  1941       5
21                                          [Musical]   NaN       5
22               [Children's, Drama, Fantasy, Sci-Fi]  1982       4
23                                            [Drama]  1975       5
24               [Action, Adventure, Comedy, Romance]   NaN       3
25                                            [Drama]  1962       4
26                                            [Drama]  1989       4
27                                   [Comedy, Sci-Fi]  1985       5
28                         [Action, Adventure, Drama]  1959       5
29                                            [Drama]  1996       4
30  [Adventure, Animation, Children's, Comedy, Mus...  1997       4
31                                   [Drama, Romance]  1997       4
32                                            [Drama]   NaN       5
33                            [Animation, Children's]  1998       4
34                                            [Drama]  1988       5
35                                            [Drama]  1989       4
36                            [Animation, Children's]  1942       4
37                               [Action, Drama, War]  1998       5
38                            [Animation, Children's]  1998       4
39                                           [Comedy]  1998       3
40                                          [Romance]  1998       3
41                    [Animation, Children's, Comedy]   NaN       5
42                                            [Drama]  1947       4
43                            [Animation, Children's]  1999       3
44                           [Action, Crime, Romance]  1998       4
45                                         [Thriller]   NaN       4
46                                           [Comedy]  1980       4
47                                  [Comedy, Fantasy]  1988       4
48                                    [Comedy, Drama]   NaN       5
49                                           [Comedy]  1986       4
50                                            [Drama]  1990       5
51                    [Animation, Children's, Comedy]  1999       4
52                                            [Drama]   NaN       4
53                                    [Action, Drama]  1953       4
54                                            [Drama]  2000       4

In [685]:
entrada_peli.head()

,movie_id,title,genres,year,rating
0,1,Toy Story,"[Adventure, Children's, Comedy]",1995,5
1,48,Pocahontas,"[Animation, Children's, Musical, Romance]",1995,5
2,150,Apollo 13,[Drama],1995,5
3,260,Star Wars: Episode IV - A New Hope,"[Action, Adventure, Fantasy, Sci-Fi]",1977,4
4,277,Miracle on 34th Street,[Drama],1994,4

In [686]:
#eliminamos las columnas que no necesitamos
entrada_peli=entrada_peli.drop('genres',axis=1).drop('year',axis=1)
entrada_peli.head()

   movie_id                               title  rating
0         1                           Toy Story       5
1        48                          Pocahontas       5
2       150                           Apollo 13       5
3       260  Star Wars: Episode IV - A New Hope       4
4       277              Miracle on 34th Street       4

In [687]:
#codicar pe;iculas del usuario para el metodo one hot encoding
peli_usuario=peliculas_co[peliculas_co['movie_id'].isin(entrada_peli['movie_id'].tolist())]
peli_usuario.head()

,movie_id,title,genres,year,Adventure,Children's,Comedy,Fantasy,Romance,Drama,...,Thriller,Horror,Animation,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1,Toy Story,"[Adventure, Children's, Comedy]",1995,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,48,Pocahontas,"[Animation, Children's, Musical, Romance]",1995,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
148,150,Apollo 13,[Drama],1995,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257,260,Star Wars: Episode IV - A New Hope,"[Action, Adventure, Fantasy, Sci-Fi]",1977,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
274,277,Miracle on 34th Street,[Drama],1994,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [688]:
#continuamos con el one hot encoding y ajustes de datos
peli_usuario=peli_usuario.reset_index(drop=True)
tabla_generos=peli_usuario.drop('movie_id',axis=1).drop('title',axis=1).drop('genres',axis=1).drop('year',axis=1)
print(tabla_generos.head())

   Adventure  Children's  Comedy  Fantasy  Romance  Drama  Action  Crime  \
0        1.0         1.0     1.0      0.0      0.0    0.0     0.0    0.0
1        0.0         1.0     0.0      0.0      1.0    0.0     0.0    0.0
2        0.0         0.0     0.0      0.0      0.0    1.0     0.0    0.0
3        1.0         0.0     0.0      1.0      0.0    0.0     1.0    0.0
4        0.0         0.0     0.0      0.0      0.0    1.0     0.0    0.0

   Thriller  Horror  Animation  Sci-Fi  Documentary  War  Musical  Mystery  \
0       0.0     0.0        0.0     0.0          0.0  0.0      0.0      0.0
1       0.0     0.0        1.0     0.0          0.0  0.0      1.0      0.0
2       0.0     0.0        0.0     0.0          0.0  0.0      0.0      0.0
3       0.0     0.0        0.0     1.0          0.0  0.0      0.0      0.0
4       0.0     0.0        0.0     0.0          0.0  0.0      0.0      0.0

   Film-Noir  Western
0        0.0      0.0
1        0.0      0.0
2        0.0      0.0
3        0.0      0.0
4        0.0      0.0

In [689]:
#creamos matriz de peso
print("tabla de generos transpuesta: \n",tabla_generos.T)
print("\n")
print("datos para ver el reating: \n",entrada_peli['rating'])

tabla de generos transpuesta:
               0    1    2    3    4    5    6    7    8    9   ...   45   46  \
Adventure    1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
Children's   1.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  ...  0.0  0.0
Comedy       1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  1.0
Fantasy      0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
Romance      0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
Drama        0.0  0.0  1.0  0.0  1.0  1.0  1.0  0.0  0.0  0.0  ...  0.0  0.0
Action       0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
Crime        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
Thriller     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0
Horror       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
Animation    0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  ...  0.0  0.0
Sci-Fi       0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
Documentary  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
War          0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
Musical      0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  ...  0.0  0.0
Mystery      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
Film-Noir    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
Western      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0

              47   48   49   50   51   52   53   54
Adventure    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Children's   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
Comedy       1.0  1.0  1.0  0.0  1.0  0.0  0.0  0.0
Fantasy      1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Romance      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Drama        0.0  1.0  0.0  1.0  0.0  1.0  1.0  1.0
Action       0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
Crime        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Thriller     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Horror       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Animation    0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
Sci-Fi       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Documentary  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
War          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Musical      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Mystery      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Film-Noir    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Western      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[18 rows x 55 columns]


datos para ver el reating:
 0     5
1     5
2     5
3     4
4     4
5     5
6     4
7     4
8     4
9     5
10    4
11    3
12    3
13    3
14    4
15    3
16    4
17    4
18    5
19    5
20    5
21    5
22    4
23    5
24    3
25    4
26    4
27    5
28    5
29    4
30    4
31    4
32    5
33    4
34    5
35    4
36    4
37    5
38    4
39    3
40    3
41    5
42    4
43    3
44    4
45    4
46    4
47    4
48    5
49    4
50    5
51    4
52    4
53    4
54    4
Name: rating, dtype: int64

In [690]:
#multiplicamos la tabla de generos por el rating de las peliculas
perfil_usuario=tabla_generos.T.dot(entrada_peli['rating'])
print("perfil de usuario: \n",perfil_usuario)

perfil de usuario:
 Adventure       25.0
Children's      85.0
Comedy          58.0
Fantasy         12.0
Romance         22.0
Drama          101.0
Action          25.0
Crime            8.0
Thriller        11.0
Horror           0.0
Animation       69.0
Sci-Fi          13.0
Documentary      0.0
War             10.0
Musical         60.0
Mystery          0.0
Film-Noir        0.0
Western          0.0
dtype: float64

In [691]:
#mostramos los generos de la tabla original
generos=peliculas_co.set_index(peliculas_co['movie_id'])
generos.head()

,movie_id,title,genres,year,Adventure,Children's,Comedy,Fantasy,Romance,Drama,...,Thriller,Horror,Animation,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,1,Toy Story,"[Adventure, Children's, Comedy]",1995,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Jumanji,"[Adventure, Children's, Fantasy]",1995,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Waiting to Exhale,"[Comedy, Drama]",1995,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [692]:
#ajustar info de generos
generos=generos.drop('title',axis=1).drop('genres',axis=1).drop('year',axis=1)
print("generos ajustados: \n",generos.head())
generos.head()

generos ajustados:
           movie_id  Adventure  Children's  Comedy  Fantasy  Romance  Drama  \
movie_id
1                1        1.0         1.0     1.0      0.0      0.0    0.0
2                2        1.0         1.0     0.0      1.0      0.0    0.0
3                3        0.0         0.0     1.0      0.0      1.0    0.0
4                4        0.0         0.0     1.0      0.0      0.0    1.0
5                5        0.0         0.0     1.0      0.0      0.0    0.0

          Action  Crime  Thriller  Horror  Animation  Sci-Fi  Documentary  \
movie_id
1            0.0    0.0       0.0     0.0        0.0     0.0          0.0
2            0.0    0.0       0.0     0.0        0.0     0.0          0.0
3            0.0    0.0       0.0     0.0        0.0     0.0          0.0
4            0.0    0.0       0.0     0.0        0.0     0.0          0.0
5            0.0    0.0       0.0     0.0        0.0     0.0          0.0

          War  Musical  Mystery  Film-Noir  Western
movie_id
1         0.0      0.0      0.0        0.0      0.0
2         0.0      0.0      0.0        0.0      0.0
3         0.0      0.0      0.0        0.0      0.0
4         0.0      0.0      0.0        0.0      0.0
5         0.0      0.0      0.0        0.0      0.0

,movie_id,Adventure,Children's,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Animation,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
movie_id,,,,,,,,,,,,,,,,,,,
1,1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [693]:
#generamos la ponderacion
recom=((tabla_generos*perfil_usuario).sum(axis=1))/(perfil_usuario.sum())
print("recomendacion: \n",recom.head(50))
recom.shape

recomendacion:
 0     0.336673
1     0.472946
2     0.202405
3     0.150301
4     0.202405
5     0.222445
6     0.372745
7     0.545090
8     0.428858
9     0.428858
10    0.240481
11    0.428858
12    0.138277
13    0.276553
14    0.428858
15    0.164329
16    0.543086
17    0.120240
18    0.428858
19    0.406814
20    0.428858
21    0.120240
22    0.422846
23    0.202405
24    0.260521
25    0.202405
26    0.202405
27    0.142285
28    0.302605
29    0.202405
30    0.595190
31    0.246493
32    0.202405
33    0.308617
34    0.202405
35    0.202405
36    0.308617
37    0.272545
38    0.308617
39    0.116232
40    0.044088
41    0.424850
42    0.202405
43    0.308617
44    0.110220
45    0.022044
46    0.116232
47    0.140281
48    0.318637
49    0.116232
dtype: float64

(55,)

In [694]:
#mostrar de manera mas amigable 
recom=pd.DataFrame(generos['movie_id'])

#multiplicamos los generos por la matriz de peso y tomar el merjor promedio
recom['ponderacion']=((generos*perfil_usuario).sum(axis=1))/(perfil_usuario.sum())
#recom=pd.DataFrame(recom)
recom.head(20)

          movie_id  ponderacion
movie_id
1                1     0.336673
2                2     0.244489
3                3     0.160321
4                4     0.318637
5                5     0.116232
6                6     0.088176
7                7     0.160321
8                8     0.220441
9                9     0.050100
10              10     0.122244
11              11     0.362725
12              12     0.116232
13              13     0.308617
14              14     0.202405
15              15     0.144289
16              16     0.224449
17              17     0.246493
18              18     0.022044
19              19     0.116232
20              20     0.050100

In [695]:
#ordenar de mejor ponderacion 
recome=recom.sort_values('ponderacion',ascending=False)
recome.head(20)

          movie_id  ponderacion
movie_id
1566          1566     0.595190
2080          2080     0.589178
2081          2081     0.589178
2078          2078     0.545090
2102          2102     0.545090
588            588     0.545090
919            919     0.543086
2138          2138     0.535070
673            673     0.498998
1812          1812     0.488978
1014          1014     0.488978
34              34     0.488978
1030          1030     0.478958
2099          2099     0.478958
48              48     0.472946
239            239     0.468938
2045          2045     0.466934
107            107     0.456914
2087          2087     0.452906
1288          1288     0.438878

In [696]:
#estrategia de visualizacion para el usuario
peliculas.set_index('movie_id')
recom.set_index('movie_id')
movies_df_positon=peliculas.join(recom, on='movie_id', lsuffix='_key', validate='one_to_one')
movies_df_positon=movies_df_positon.sort_values(by='ponderacion',ascending=False)
movies_df_positon=pd.merge(movies_df_positon,imagenes[['title', 'Poster']], on='title', how='left')
movies_df_positon = movies_df_positon.drop_duplicates(subset=['movie_id', 'title'], keep='first')
movies_df_positon.head(20)

,movie_id_key,title,genres,year,movie_id,ponderacion,Poster
0,1566,Hercules,"[Adventure, Animation, Children's, Comedy, Mus...",1997,1566,0.595190,https://images-na.ssl-images-amazon.com/images...
3,2080,Lady and the Tramp,"[Animation, Children's, Comedy, Musical, Romance]",1955,2080,0.589178,https://images-na.ssl-images-amazon.com/images...
4,2081,Little Mermaid,"[Animation, Children's, Comedy, Musical, Romance]",NaN,2081,0.589178,NaN
5,2078,Jungle Book,"[Animation, Children's, Comedy, Musical]",NaN,2078,0.545090,https://images-na.ssl-images-amazon.com/images...
6,2102,Steamboat Willie,"[Animation, Children's, Comedy, Musical]",1940,2102,0.545090,https://images-na.ssl-images-amazon.com/images...
7,588,Aladdin,"[Animation, Children's, Comedy, Musical]",1992,588,0.545090,https://images-na.ssl-images-amazon.com/images...
10,919,Wizard of Oz,"[Adventure, Children's, Drama, Musical]",NaN,919,0.543086,NaN
11,2138,Watership Down,"[Animation, Children's, Drama, Fantasy]",1978,2138,0.535070,https://images-na.ssl-images-amazon.com/images...
12,673,Space Jam,"[Adventure, Animation, Children's, Comedy, Fan...",1996,673,0.498998,https://images-na.ssl-images-amazon.com/images...
13,1812,Wide Awake,"[Children's, Comedy, Drama]",1998,1812,0.488978,https://images-na.ssl-images-amazon.com/images...
14,1014,Pollyanna,"[Children's, Comedy, Drama]",1960,1014,0.488978,https://images-na.ssl-images-amazon.com/images...
16,34,Babe,"[Children's, Comedy, Drama]",1995,34,0.488978,https://images-na.ssl-images-amazon.com/images...
17,1030,Pete's Dragon,"[Adventure, Animation, Children's, Musical]",1977,1030,0.478958,https://images-na.ssl-images-amazon.com/images...
19,2099,Song of the South,"[Adventure, Animation, Children's, Musical]",1946,2099,0.478958,https://images-na.ssl-images-amazon.com/images...
20,48,Pocahontas,"[Animation, Children's, Musical, Romance]",1995,48,0.472946,https://images-na.ssl-images-amazon.com/images...
21,239,Goofy Movie,"[Animation, Children's, Comedy, Romance]",NaN,239,0.468938,NaN
22,2045,Far Off Place,"[Adventure, Children's, Drama, Romance]",NaN,2045,0.466934,NaN
23,107,Muppet Treasure Island,"[Adventure, Children's, Comedy, Musical]",1996,107,0.456914,https://images-na.ssl-images-amazon.com/images...
24,2087,Peter Pan,"[Animation, Children's, Fantasy, Musical]",1953,2087,0.452906,https://images-na.ssl-images-amazon.com/images...
29,1288,This Is Spinal Tap,"[Comedy, Drama, Musical]",1984,1288,0.438878,https://images-na.ssl-images-amazon.com/images...

In [697]:

mostrar_imagen(movies_df_positon.head(20))

C:\Users\josem\AppData\Local\Temp\ipykernel_8760\105751786.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Poster'] = dataframe['Poster'].apply(make_clickable)